dl.class > dt,
dl.exception > dt {
    display: table;
    margin: 0.6em 0;
    padding: 0.6em;
    font-size: 0.9em;
    background-color: #e6e9fa;
    border-top: 3px solid #6878de;
    position: relative;
}

.method, .function, .property {
    padding-top: 2em;
}
